/* Main */
body {
  padding: 60px;
  background-color: #FAFAFA;
}

.card-body {
  background-color: #FFFFFF;
}

.card-intro {
  margin-bottom: 30px;
}

.button-container {
  text-align: center;
}

.button-container button {
  margin: 0 5px;
  width: 110px;
}

.results-container {
  margin-bottom: 15px;
  width: 100%;
  height: auto;
  border: 1px solid #EEEEEE;
  border-radius: 0.25rem;
  background-color: #FAFAFA;
}

.result-message {
  text-align: center;
}

.results-container .results {
  padding: 15px;
}

.results-container .results .result-item {
  display: block;
  margin-bottom: 15px;
  text-decoration: none;
}

.results-container .results .result-error {
  display: block;
  width: 100%;
  color: #F44336;
  text-align: center;
}

.results-header {
  padding: 15px;
  border-bottom: 1px solid #EEEEEE;
  text-align: center;
}

.results-header span {
  font-weight: 600;
}

.full-page-spinner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.full-page-spinner.active {
  visibility: visible;
  opacity: 1;
}

.full-page-spinner img {
  position: absolute;
  max-width: 50px;
}

.loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto auto;
  width: 100px;
  height: 100px;
  border-top: 5px solid rgba(0, 0, 0, 0.1);
  border-right: 5px solid rgba(0, 0, 0, 0.1);
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);
  border-left: 5px solid #FAFAFA;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(O);
  }
  100% {
    transform: rotate(360deg);
  }
}
