<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <title>operun Linkchecker</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>

  <div class="spinner-section full-page-spinner">
    <div class="loader"></div>
    <img src="" alt="" />
  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-2"></div>

      <div class="col-md-8">
        <div class="card">
          <div class="card-body">

            <div class="card-intro">

              <h1>Linkchecker</h1>

              <div class="card-text">
                This tool can be used to discover broken links on web pages. Increasing the depth of the search will take longer, but yield a more comprehensive result.
              </div>

            </div>

            <form id="linkchecker-form" method="post">

              <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="website_url">Link</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="website_url" placeholder="Enter a website URL" value="{{ website_url }}">
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="timeout">Timeout</label>
                <div class="col-sm-9">
                  <select class="form-control" name="timeout">
                    <option value="5" {% if timeout == 5 %} selected {% endif %}>5 Seconds</option>
                    <option value="10" {% if timeout == 10 %} selected {% endif %}>10 Seconds</option>
                    <option value="15" {% if timeout == 15 %} selected {% endif %}>15 Seconds</option>
                    <option value="20" {% if timeout == 20 %} selected {% endif %}>20 Seconds</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="depth">Depth <span class="depth-value">0</span></label>
                <div class="col-sm-9">
                  <input type="range" class="custom-range" min="0" max="100" name="depth" value="{{ depth or 0 }}">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-12">

                  <div class="button-container">
                    <button type="submit" class="btn btn-primary" name="form.button.submit" id="start">Start</button>
                    {% if errors %}
                    <button type="submit" class="btn btn-success" name="form.button.submit" value="csv" id="download">Download as CSV</button>
                    {% endif %}
                  </div>

                </div>
              </div>

            </form>

            {% if errors %}
            <div class="container results-container">

              <div class="row results-header">
                <div class="col-md-10"><span>URL</span></div>
                <div class="col-md-2"><span>Error</span></div>
              </div>

              <div class="row results">
                {% for item in errors %}
                <div class="col-md-10">
                  <a class="result-item" href="{{ item['item_url'] }}" target="_blank">{{ item['item_url'] }}</a>
                </div>
                <div class="col-md-2"><span class="result-error" title="{{ item['item_status_message'] }}">{{ item['item_status'] }}</span></div>
                {% endfor %}
              </div>

            </div>

            <div class="result-message">
              There were {{ errors|length }} errors found.
            </div>
            {% endif %}

          </div>
        </div>
      </div>

      <div class="col-md-2"></div>

    </div>
  </div>

  <script type="text/javascript">
    $('.custom-range').on('input', function() {
      $('.depth-value').html(this.value);
    });

    $('#start').on('click', function(e) {
      $('.full-page-spinner').toggleClass('active');
    });

  </script>

</body>

</html>
