<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>operun Linkchecker</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  {% if page_html %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  {% endif %}

</head>

<body id="inspector-body">

  {% if page_html %}
  <div class="inspector-float">
    <div>
      Source URL - <a href="{{ source_url }}" target="_blank">{{ source_url }}</a>
    </div>
    <div class="page-logo">
      <a href="https://www.operun.de/">
        <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="operun GmbH">
      </a>
    </div>
  </div>

  <pre id="inspector"><code class="html">{{ page_html }}</code></pre>

  <script type="text/javascript">
    hljs.initHighlighting.called = false;
    $(document).ready(function() {

      hljs.initHighlighting();

      if (hljs.initHighlighting.called) {
        var broken_link = $("span.hljs-string:contains('{{ broken_link }}')");
        var parent = broken_link.closest('.hljs-tag');

        parent.addClass('is-highlighted');

        $('span.is-highlighted').attr('id', function(idx) {
          return 'hl' + idx;
        });

        $('html, body').animate({
          scrollTop: ($('#hl0').offset().top - 200)
        }, 'slow');

      };

    })

  </script>
  {% endif %}

</body>

</html>
